@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v13/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk59E-_F.ttf) format('truetype');
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Manrope", "sans-serif";
  background-color: hsl(217, 19%, 24%);
}
.pageWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.pageWrapper .adviceGenContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  background: hsl(217, 19%, 33%);
  margin: auto;
  width: 80%;
  height: 30%;
  height: auto;
  position: relative;
  padding: 5rem 0;
  border-radius: 1rem;
}
@media screen and (min-width: 500px) {
  .pageWrapper .adviceGenContainer {
    width: 40%;
  }
}
.pageWrapper .adviceGenContainer .adviceNumber {
  font-size: 1rem;
  color: hsl(150, 100%, 66%);
  flex-shrink: 1;
  letter-spacing: 3px;
}
.pageWrapper .adviceGenContainer .adviceText {
  color: hsl(193, 38%, 86%);
  font-size: 1.5rem;
  text-align: center;
  padding: 0 1rem;
}
.pageWrapper .adviceGenContainer .divider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
.pageWrapper .adviceGenContainer .divider img {
  width: 100%;
}
.pageWrapper .adviceGenContainer .divider button {
  position: absolute;
  border: none;
  background: hsl(150, 100%, 66%);
  padding: 1rem;
  border-radius: 100%;
  cursor: pointer;
  top: 4rem;
}
.pageWrapper .adviceGenContainer .divider button:hover {
  filter: drop-shadow(0px 0px 20px hsl(150, 100%, 66%));
}
